<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory Details - Inventory Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Inventory Management System</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('product_rate_calculator') }}">Product Rate Calculator</a></li>
                <li><a href="{{ url_for('product_history') }}">Product History</a></li>
                <li><a href="{{ url_for('raw_material_management') }}">Raw Material Management</a></li>
                <li><a href="{{ url_for('inventory_details') }}">Inventory Details</a></li>
                <li><a href="{{ url_for('raw_material_history') }}">Raw Material History</a></li>
        </ul>
        </nav>
    </header>
    <main>
        <h2>Inventory Details</h2>
        <table>
            <thead>
                <tr>
                    <th>Material ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                {% for material in raw_materials %}
                <tr>
                    <td>{{ material[0] }}</td>
                    <td>{{ material[1] }}</td>
                    <td>{{ material[2] }}</td>
                    <td>{{ material[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
